<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.erp.mapper.GoodsMapper">
    <select id="querySumSold" resultType="int">
        select sum(sold) from goods
    </select>
    <select id="hotsold" resultType="com.example.erp.entity.Goods">
        SELECT *
        FROM   goods
        ORDER BY sold desc
    </select>
    <select id="selectPage" resultType="com.example.erp.entity.Goods">
        select  * from goods limit #{pageNum}, #{pageSize}
    </select>
    <select id="selectTotal" resultType="Integer">
        select count(*) from goods
    </select>
</mapper>
